/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bad+Script&family=Lily+Script+One&display=swap");

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #ffdbd0;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffe8e5;
  padding: 10px 20px;
  height: 90px;
  position: absolute;
  border-radius: 20px;
  width: 85%;
  transform: translateX(-50%);
  left: 50%;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.menu {
  display: flex;
  align-items: center;
  background-color: #ffe8e5;
}

.menu .ant-menu-item {
  color: #522f15;
  width: fit-content;
}

.menuItem {
  font-family: "Lily Script One", cursive !important;
  font-size: 20px;
}

.logo {
  height: 85px;
  width: 85px;
}
.logo:hover {
  cursor: pointer;
}

/* Search bar */
.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 52px;
}

/* Search bar */
.searchBar {
  width: 80%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  height: 50px;
  text-align: center;
  color: #522f15;
  font-size: 18px;
  transition: border-color 0.3s ease;
}

.searchBar::placeholder {
  color: #ecd6cc;
  font-family: "Alata", sans-serif;
}

.searchBar:hover {
  border-color: #522f15 !important;
}

.buttons {
  display: flex;
  gap: 50px;
}

.searchBtn {
  padding: 10px 40px;
  border-radius: 15px;
  height: 50px;
  background-color: #522f15;
  color: #fff;
  font-size: 18px;
}

.searchBtn:hover {
  background-color: #522f1586 !important;
  border: none;
}

.aiButtonSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.aiBtn {
  padding: 10px 40px;
  border-radius: 15px;
  height: 50px;
  background-color: #ffdbd0;
  color: #522f15;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aiBtn:hover {
  background-color: #ffdbd04d !important;
  border: none;
}

.comingSoon {
  color: #fff;
  margin-bottom: 5px;
  background-color: #ff5733;
  border-radius: 9px;
  padding: 3px;
  top: -20px;
  position: absolute;
  right: 20px;
  font-size: small;
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffdbd0;
}

.site-layout-content {
  flex: 1;
  padding: 24px;
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-content {
  background: #ffe8e5;
  border-radius: 15px;
  margin-top: 150px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.listContainer {
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.titleText {
  font-size: 44px;
  font-weight: bold;
  color: #b66139;
  font-family: "Bad Script", cursive;
}

.ounje {
  color: #522f15;
  font-family: "Lily Script One", cursive;
}

.listItem {
  width: 100%;
  height: 140px;
  padding: 10px 0;
  margin-top: 20px;
  background-color: #ecd6cc;
  border-radius: 15px;
}

.recipeAbout {
  margin-bottom: 10px;
  font-size: 16px;
  color: #522f15;
}

.recipeDetails {
  display: flex;
  gap: 10px;
  align-items: center;
}

.ratingBtn {
  background-color: #b3d7b0;
  border: none;
}

.useBtn {
  background-color: #522f15;
  color: #fff;
  border: none;
}

.useBtn a {
  color: #fff;
  text-decoration: none;
}

/* Add Recipe Page */
.addRecipe {
  background-color: #ffe8e5;
  border-radius: 15px;
  width: 100%;
  max-width: 850px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

/* For the header with the back button and title */
.recipeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 30px;
}

.recipeForm {
  margin-top: 70px;
}

.backBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 24px;
}

.recipeName2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: #522f15;
  font-family: "Bad Script", cursive;
  white-space: nowrap;
}

/* Instructions and other details inside the container */
.recipeInstructions {
  color: #b66139;
  font-family: "Alata", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.recipeMap {
  text-align: left;
  width: 100%;
  padding: 0 20px;
}

.sharenRateRecipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.rateRecipe {
  flex: 1;
}

.shareRecipe {
  flex: 0;
}

/* Chrome, Edge, Safari */
.addRecipe::-webkit-scrollbar {
  width: 7px;
}

.addRecipe::-webkit-scrollbar-track {
  background: #ffe8e59a;
  border-radius: 15px;
}

.addRecipe::-webkit-scrollbar-thumb {
  background-color: #522f1583;
  border-radius: 10px;
  border: 2px solid #ffe8e5;
}

/* Firefox */
.addRecipe {
  scrollbar-width: thin;
  scrollbar-color: #522f1583 #ffe8e5;
}

.addTitle {
  font-size: 40px;
  color: #522f15;
  font-family: "Bad Script", cursive;
  margin-top: 30px;
}

form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #b66139;
  width: 100%;
}

input,
textarea {
  width: 100%;
  max-width: 900px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
}

input::placeholder,
textarea::placeholder {
  color: #ecd6cc;
}

button {
  align-self: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #b66139;
  color: white;
  border: none;
  cursor: pointer;
}

.sharenRateRecipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 10;
  width: fit-content;
}

.rateRecipe {
  flex: 1;
  margin-right: 50px;
  width: fit-content;
}

/*Footer*/
.footer {
  text-align: center;
  padding: 20px;
  background: #ffdbd0;
  color: #522f15;
  position: static;
  width: 100%;
  bottom: 0;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .header {
    padding: 0 10px;
    height: 65px;
    width: 95%;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: 20px;
  }

  .logo {
    margin-right: 0;
    height: fit-content;
    width: fit-content;
    max-width: 70px;
  }

  .menu {
    flex-direction: row;
    gap: 5px;
  }
  .menuItem{
    font-size: 15px;
  }

  .site-layout-content {
    padding: 20px;
    margin-top: 60px;
    min-height: calc(100vh - 50px);
    width: 100%;
  }
  .recipe-content {
    width: 99% !important;
    margin-top: 50px;
  }

  .titleText{
    font-size: 20px;
  }
  .addRecipe {
    width: 90%;
    padding: 10px;
  }

  .recipeName2 {
    font-size: 30px;
  }

  .recipeMap {
    padding: 0 10px;
  }

  .searchBar {
    width: 100%;
    max-width: none;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .searchBtn,
  .aiBtn {
    width: 50px;
    max-width: none;
  }

  .comingSoon {
    font-size: 14px;
    position: relative;
    top: 0;
  }

  .footer {
    padding: 15px;
  }
}
