/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bad+Script&family=Lily+Script+One&display=swap');

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #ffdbd0;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffe8e5;
  padding: 10px 20px;
  height: 90px;
  position: absolute;
  border-radius: 20px;
  width: 85%;
  transform: translateX(-50%);
  left: 50%;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.menu {
  display: flex;
  align-items: center;
  background-color: #ffe8e5;
 
}

.menu .ant-menu-item {
  color: #522f15;
  width: fit-content;
}

.menuItem{
  font-family: 'Lily Script One', cursive !important;
  font-size: 20px;
}

.logo {
  height: 85px;
  width: 85px;
}

/* Search bar */
.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 52px;
}

.searchBar {
  width: 60%; 
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  height: 50px;
}

.searchBtn {
  padding: 10px 40px;
  border-radius: 15px;
  flex-shrink: 0;
  height: 50px;
  background-color: #522f15;
  color: #fff;
}



/* Content */
.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffdbd0;
}

.site-layout-content {
  flex: 1;
  padding: 24px;
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-content {
  background: #ffe8e5;
  border-radius: 15px;
  margin-top: 150px;
  width: 50%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 20px;
}

.listItem {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-top: 20px;
}

.titleText {
  font-size: 44px;
  font-weight: bold;
  color: #b66139;
  font-family: 'Bad Script', cursive;
}

.ounje{
  color: #522f15;
  font-family: 'Lily Script One', cursive;
}

.recipeName {
  flex: 1;
  text-align: left;
}

.ratingBtn,
.useBtn {
  margin-left: 10px;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #ffdbd0;
  color: #522f15;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .header {
    padding: 0 10px;
    height: 50px;
  }

  .logo {
    margin-right: 10px;
  }

  .site-layout-content {
    padding: 16px;
    margin-top: 50px;
    min-height: calc(100vh - 50px);
  }

  .footer {
    padding: 15px;
  }
}
